.nomination-container {
  position: sticky;
  top: 1rem;
  display: grid;
  justify-content: center;
}

// @media (max-width: 731px) {
//   .nomination-container {
//     position: sticky;
//     top: 1rem;
//   }
// }
